<td class="text-center">
  <table class="address-contact-table">
    <tr class="text-center">
      <td class="address">
        {{formatAddress owner.address}}
      </td>
      <td class="phone">
        M : {{owner.phone}}
      </td>
    </tr>
  </table>
</td>