<tr class="items-row items-row-head">
  <th colspan="1" class="sr-no-head">Sr.No.</th>
  <th colspan="8" class="description-head">Description</th>
  <th colspan="3" class="qty-head">Qty</th>
</tr>
{{#each this.items}}
<tr class="items-row items-row-body">
  <td colspan="1" class="sr-no">{{add @index 1}}</td>
  <td colspan="8" class="description">{{description}}</td>
  <td colspan="3" class="qty">{{quantity}} {{unit}}</td>
</tr>
{{/each}}