@import '@/styles/variables';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.heading-fin-year {
  font-size: 0.7em;
  margin-left: 0.25rem;
  color: #cccccc;
}
.bill-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    margin-bottom: 1rem;
  }
}
.bill-filters {
  background-color: white;
  padding: 1.25rem 1.5rem;
  @include media-breakpoint-down('md') {
    padding: 1.25rem;
  }
  border-radius: $base-radius;
  .fin-year-picker {
    position: relative;
    top: 2px;
  }
  input[type='date'] {
    cursor: pointer;
    &:disabled {
      cursor: default;
      &::-webkit-calendar-picker-indicator {
        cursor: default;
      }
    }
    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
    }
  }
  .bill-filters-container {
    max-width: 900px;
  }
}
