@import '@/styles/variables';

.specific-bill {
  .cta {
    padding: 0;
    color: #dddddd;
    .icon {
      fill: #dddddd;
    }
    &:hover {
      color: white;
      .icon {
        fill: white;
      }
    }
  }
  .field-card {
    border-radius: $base-radius;
    background-color: white;
    padding: 1rem;
    &.item-card {
      background-color: $base-background;
    }
    &.primary {
      background-color: $primary;
      color: white;
    }
    .field-label {
      font-weight: bold;
    }
    .field-value {
    }
  }
  .party-details {
    white-space: pre-line;
  }
  .description {
    white-space: pre-line;
  }
  ul.bill-items {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 1rem;
    }
  }
}
