@import '@/styles/variables';

li.bill-item-card {
  background-color: white;
  border-radius: $base-radius;

  .item-header {
    position: relative;
    padding: 1rem;
    padding-left: 2rem;

    .bill-number {
      $dims: 28px;
      position: absolute;
      top: 50%;
      left: 0;
      height: $dims;
      width: $dims;
      background-color: $primary;
      color: white;
      border-radius: 50%;
      display: inline-block;
      line-height: $dims;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .bill-number-square {
      $dims: 24px;
      font-size: 0.9rem;
      color: white;
      background-color: $primary;
      text-align: center;
      line-height: $dims;
      height: $dims;
      width: $dims;
      border-radius: $base-radius 0 $base-radius 0;
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
    }
    .party-details {
      white-space: pre-line;
      font-weight: bold;
    }
    .bill-card-cta {
      fill: gray;
      &:hover {
        fill: $primary;
      }
    }
  }

  .item-body {
    padding: 0 1rem 1rem 1rem;
    display: none;
  }
  &.expanded {
    .item-body {
      display: block;
    }
  }
  .bill-items {
    .bill-items-item {
      border-bottom: 1px solid $base-grey;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      &:last-child {
        border-bottom: none;
      }
      .description {
        white-space: pre-line;
      }
    }
  }
}
